@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');

body {
    font-family: 'Poppins', sans-serif;
}

.background {
    max-width: 100%;
    height: 100vh;
    
    background-image:linear-gradient(rgba(4, 36, 67, 0.707), rgba(17, 118, 158, 0.354)), url(https://r4.wallpaperflare.com/wallpaper/436/228/997/movies-mad-max-the-dark-knight-interstellar-movie-wallpaper-48066d386030acc8d06c814ea8c2f4fa.jpg?timestamp=1670376806881);
    background-position: center;
    background-repeat: no-repeat;
    background-attachment:fixed;
    background-size:cover;

}
/* Welcome and Sign In */
.before-modal {
    text-align: center;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.welcome {
    text-align:center;
    color:#fff;
}

.click-btn {
    background-color: rgba(8,180,226,255);
    border: .5px solid rgba(8,180,226,255);
    border-radius: 20px;
    width: 200px;
}

.btn-secondary {
    --bs-btn-hover-bg: rgb(74, 188, 194);
    --bs-btn-active-bg: none;
    --bs-btn-active-border-color: 1px solid #fff;
}

/* Margin */
.mt-10 {
    margin-top: 10px;
}

.mb-8 {
    margin-bottom: 8px;
}
.mb-20 {
    margin-bottom: 20px;
}

/* Sign In Modal */
.modal {
    --bs-modal-bg: none !important;
    backdrop-filter: blur(3px);  
}

.modal-header {
    padding: 0px;
    border-bottom: none;
}
.modal-content {
    transform:translateY(30%);
    right: 10%;

    width:400px !important;
    position:absolute;
    box-shadow: 1.3rem 1rem 1rem rgb(62, 62, 62, 0.3);
    border-top-color: rgba(225, 225, 225, 0.5);
    border-left-color: rgba(225, 225, 225, 0.5);
    border-bottom-color: rgba(225, 225, 225, 0.1);
    border-right-color: rgba(225, 225, 225, 0.1);
    border-radius: 8px;
}

.login-format {
    padding: 48px 24px;
    color: white;
    align-items: center;
    width: 400px;
    background-image:linear-gradient(rgba(74, 188, 194, 0.512), rgba(52, 76, 147, 0.742)) !important;
    -webkit-backdrop-filter: blur(5px);  
    backdrop-filter: blur(5px);
    box-shadow: 1.3rem 1rem 1rem rgb(62, 62, 62, 0.3);
    border-top-color: rgba(225, 225, 225, 0.718);
    border-left-color: rgba(225, 225, 225, 0.75);
    border-bottom-color: rgba(225, 225, 225, 0.1);
    border-right-color: rgba(225, 225, 225, 0.1);
    border-radius: 8px;
}

/* Sign In Modal -- Inside */
/* Title */
.signin-title {
    font-weight: 600;
    font-size: 24px;
}

/* Username and Password */
::placeholder{
    color: rgba(255, 255, 255, 0.582);
}


.login-input {
    padding: 13px 20px;
    width: 352px;
    height: 45px;
    background: rgb(28, 47, 103);

    border: 1.5px solid rgb(28, 47, 103);
    border-radius: 8px;

    font-weight: 400;
    font-size: 16px;
    line-height: 19px;

    color: #f2f2f2;
}

.no-input {
    font-weight: 500;
    margin-top: 3px;
    color: #ff1111;
}

/* Eye-Fill */
.eye-fill {
    position:relative;
    top: 262.2px;
    left: 325px;
    color: #ffffff97;
    cursor: pointer;   
}

/* Sign In Button */
.signin-btn {
    padding: 5px 5px;
    width: 352px;
    height: 40px;
    border-radius:8px;
    font-weight: 600;
    margin-top: 20px;

    background: rgba(8,180,226,255);
    color: #fff;
    border: none;
}

.signin-btn:hover {
    background: rgb(74,188,194);
    color: rgb(4,36,67);
    border:none;
}

.btn-light{
    --bs-btn-active-bg: rgba(8,180,226,255);
    --bs-btn-active-color: #fff;
}
